/* Reset css */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-block: 0;
}

* {
	box-sizing: border-box;
}

/* End reset css */

.cta-button {
	font-family: var(--wp--preset--font-family--russo-one);
	font-size: var(--wp--preset--font-size--extra-small);
	padding: 16px 22px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
}
