.wp-block-gnpa-feature-section-image-offset {

	.content {

		.description {

			ul {
				margin: 0;
				padding: 0;
			}

			ul li {
				display: flex;
				list-style: none;
				margin-block-end: 5px;

				&::before {
					content: '—';
					margin-right: 0.5rem;
				}
			}
		}
	}
}
