.wp-block-gnpa-feature-section-image-offset {
	position: relative;
	display: flex;
	align-items: stretch;
	background-color: var(--wp--preset--color--dark-blue);
	padding: 0 2rem;

	.container {
		position: relative;
		max-width: 1330px;
		padding: 4rem 0;
		margin-inline: auto;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		grid-column: 6 / 13;
		color: var(--wp--preset--color--text-color);
		line-height: 1.2;
		z-index: 2;
		padding-right: 30px;

		.lede {
			font-family: var(--wp--preset--font-family--russo-one);
			font-size: var(--wp--preset--font-size--large);
			color: var(--wp--preset--color--headings-color);
			text-transform: uppercase;
			margin-bottom: 1rem;
		}

		.heading-2 {
			color: var(--wp--preset--color--accent-green);
			font-size: var(--wp--preset--font-size--xx-large);
			margin-bottom: 1.5rem;
			line-height: 1.3;
		}

		.description {
			max-width: 48ch;
			margin-bottom: 2rem;
			line-height: 1.4;
		}

		.description ul {
			margin: 0;
			padding: 0;
		}

		.description ul li {
			list-style: none;
			margin-block-end: 5px;
		}

		.description ul li::before {
			content: '—';
			margin-right: 0.5rem;
		}

		.cta-button--secondary {
			background: var(--wp--preset--color--accent-dark-green);
			color: var(--wp--preset--color--button-text-color);
		}
	}

	.feature-section-image-side--left {
		position: absolute;
		top: 0;
		left: 0;
		width: 40vw;
		height: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		z-index: 1;
	}
}


@media screen and (max-width: 930px) {
	.wp-block-gnpa-feature-section-image-offset {
		flex-direction: column;

		.container {
			grid-template-columns: 1fr;
			padding: 1rem 0rem;
			order: 2;
		}

		.content {
			grid-column: auto;
			padding-right: 0;
			padding-bottom: 2rem;
		}

		.feature-section-image-side--left {
			position: relative;
			width: calc(100% + 4rem);
			height: 300px;
			order: 1;
			margin-left: -2rem;
			margin-right: -2rem;
			background-position: top center;
		}
	}
}
